p{
    font-family: 'Courier New', Courier, monospace;
    margin-left: 7ch;
    margin-right: 7ch;
}

h1{
font-family: 'Courier New', Courier, monospace;
}

h2{
font-family: 'Courier New', Courier, monospace;
}